<!DOCTYPE html>
<html>

<head></head>

<body>
    <br>Teste tecnico Vitta <br />
    <br>Square of Squares (BE2) Versao: 2.0 <br />
    <br>Dezembro/2012 <br /> Leonardo Almeida de Araujo <br />
    <p> HOME </p>
    <p> Endereço localhost:8888 </p>
    <br>/territories : Lista todos territorios (GET) <br />
    <br>/territories : Adiciona territorios (POST) <br />
    <br>/territories/_id : Deletar territorios (DELETE) <br />
    <br>/territories/_id : Listar territorios por id (GET) <br />
    <br>/territories/_id ? withpainted={false|true} : Listar todos quadrados pintados de um territorio (GET)<br />
    <br>/squares/_x/_y : Listar quadrado (GET) <br />
    <br>/squares/_x/_y/paint : Pintar quandrado (PATCH) <br />
    <br>/dashboard : Visualizar relatorio de resultado (GET) <br />
</body>

</html>